.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 12px;

  @media (min-width: $tablet-min-width) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.page-header__user {
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.page-header__bottom {
  border-top: 1px solid rgba(187, 196, 214, 0.5);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  padding: 8px 20px;
}
.page-header__form {
  display: flex;
  input {
    width: 100%;
    border: none;
    appearance: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0px 0px 0px 5px;

    &::-webkit-search-cancel-button {
      appearance: none;
    }

    &::placeholder {
      color: #bbc4d6;
      letter-spacing: 0.035em;
    }
  }
}
.page-header__form--desktop {
  display: none;
}

.page-header__user--desktop {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .page-header__top {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  }
  .page-header__logo {
    margin-top: 5px;
    margin-left: -1px;
  }
  .page-header__form--desktop {
    display: flex;
    flex-grow: 1;
    border: $light-gray 1px solid;
    border-radius: 5px;
    margin: 0 50px 0 49px;
    height: 40px;

    img {
      padding: 7px 0px 7px 10px;
    }
  }

  .page-header__user--desktop {
    display:flex;
    min-height: 80px;
    padding-left: 20px;
    border-left: 1px solid $light-gray;

    .page-header__user-name {
      margin-bottom: 1px;
      margin-right: 10px;
      letter-spacing: 0.01em;
      font-size: 14px;
      color: #768298;
    }
  }

  .page-header__user--mobile {
    display: none;
  }

  .page-header__bottom {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .page-header__form--desktop {
    margin: 0 60px;
  }
  .page-header__user-img {
      padding-right: 2px;
    }
}
